<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLaFknFbjMZl6Pts365TNHyEWvdG33W8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1008057746208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.map-notes</string>
	<key>PROJECT_ID</key>
	<string>map-notes-cb267</string>
	<key>STORAGE_BUCKET</key>
	<string>map-notes-cb267.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008057746208:ios:2c0a26f554c065e61f0d45</string>
</dict>
</plist>